// Panel Icon
// ---------------------------------------------------------------------

.panel-icon {
  position: absolute;
  top: 0;
  left: 0;
  height: 17rem;
  width: 17rem;
  font-size: 18rem;
  text-align: center;
  cursor: pointer;
  background-color: @color;
  color: @color-text-black;
  z-index: @panel-z-index;
}

.panel-open .panel-icon {
  display: none;
}