/*
 Overlay
 */

@import "../theme/theme";

.overlay {
  // layout
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba( 0, 0, 0, 0.5 );
  z-index: ( @panel-z-index - 1 );
  color: white;
  font-size: 14rem;

  // center content
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  .center();

  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
