/*
 Panel
 */

@import "../theme/theme";

// Viewport

.viewport {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  overflow: hidden;
  z-index: 0;
  background-color: whitesmoke;
}


// Page
// ---------------------------------------------------------------------

.slider {
  background-color: whitesmoke;
  height: 100%;

  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);

  -webkit-transition: -webkit-transform cubic-bezier(0,0.34,0,1.06) .2s;
  -moz-transition: -moz-transform cubic-bezier(0,0.34,0,1.06) .2s;
  -o-transition: -o-transform cubic-bezier(0,0.34,0,1.06) .2s;
  transition: transform cubic-bezier(0,0.34,0,1.06) .2s;
}

// Left-side

.panel-open {
  -webkit-transform: translate(102rem,0);
  -ms-transform: translate(102rem,0);
  transform: translate(102rem,0)
}

@media(max-width: 407px) {
  .panel-open {
    -webkit-transform:translate(100%,0);
    -ms-transform: translate(100%,0);
    transform: translate(100%,0)
  }
}

// Right-side

.panel-right {
  &.panel-open {
    -webkit-transform: translate(-102rem,0);
    -ms-transform: translate(-102rem,0);
    transform: translate(-102rem,0)
  }

  @media(max-width: 407px) {
    &.panel-open {
      -webkit-transform:translate(-100%,0);
      -ms-transform: translate(-100%,0);
      transform: translate(-100%,0)
    }
  }
}


// Panel
// ---------------------------------------------------------------------

// Left-side

.panel {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: @color-panel;
  overflow: hidden;
  z-index: @panel-z-index;

  // left-side panel
  width: 102rem;
  margin-left: -102rem;

  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);

  .noneselect();
}

// Right-side

.panel-right {
  aside {
    // right-side panel
    right: 0;
    margin-right: -102rem;
  }
}


// Toggle
// ---------------------------------------------------------------------

// TODO


// Theme
// ---------------------------------------------------------------------

.panel {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 3px solid @color;

  .icon {
    font-size: 18rem;
    text-align: center;
    line-height: 18rem;
    vertical-align: middle;
  }
}


// Panel Title

.panel-header {
  margin-top: 0;
  height: 17rem;
  line-height: 17rem;
  background-color: @color;
  box-shadow: inset -60rem 0 5rem -60rem rgba(0, 0, 0, @shadow-alpha);
  color: @color-icon-black;
  .flex-display();
}

.header-left, .header-right {
  height: 16rem;
  width: 17rem;
  cursor: pointer;
  .flex();
}

.header-title {
  padding-top: .5rem;
  height: 17rem;
  line-height: 16rem;
  font-family: @font;
  font-weight: bold;
  font-size: 6rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: @color-text-black;

  .flex( 1, 1, auto );
}


// Container

.panel-container {
  position: absolute;
  width: 100%;
  top: 17rem;
  bottom: 0;
  box-shadow: inset -60rem 0 5rem -60rem rgba(0, 0, 0, @shadow-alpha);

  & > div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-overflow-scrolling: touch;
  }
}


// Item Group

.group-title {
  font-family: @font;
  font-size: 4rem;
  padding-left: 3rem;
  padding-top: .5rem;
  line-height: 8.5rem;
  text-transform: uppercase;
  color: fadeout( @color-text, 50% );
}


// Item

.list {

  ul {
    // reset list
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .item {
    display: block;
    margin-top: 2px;
    background-color: @color-panel-bright;
    text-align: left;
    cursor: pointer;
    box-shadow: inset -60rem 0 5rem -60rem rgba(0, 0, 0, @shadow-alpha);
    // .center();

    &:first-child {
      margin-top: 0;
    }
  }
}

.stack {
  .flex-display();

  &.clickable:active, &.active {
    background-color: @color-bright;
    color: @color-icon-black;
  }

  .glyph {
    display: none;
  }
  .glyph.icon {
    display: inline-block;
    width: 18rem;
    height: 18rem;
    color: @color-icon;
    background-color: @color-panel-light;
    .flex();
  }

  .link {
    height: 18rem;
    overflow: hidden;
    padding: 0 2rem 0 5rem;
    line-height: 18rem;

    font-family: @font;
    font-size: 4rem;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: @color-text;

    .flex( 1, 1, auto );
  }
}


// Custom Content

















