
<!-- Panel Icon -->
<div class="panel-icon icon icon-menu"></div>

<!-- Panel -->
<aside class="panel">

    <!-- Header -->
    <header class="panel-header">
        <span class="header-left icon icon-menu"></span>
        <span class="header-title">Game Menu</span>
        <span class="header-right close-panel-button icon icon-close"></span>
    </header>

    <!-- Container -->
    <section class="panel-container">
        <div>

        </div>
    </section>

</aside>
