
<!-- Item -->
<li class="item">

    <div class="stack">
        <!-- Icon -->
        <span class="glyph"></span>
        <!-- Label -->
        <div class="link click"></div>
    </div>

    <!-- Content -->
</li>
