
<!-- Group -->
<article class="group">

    <!-- Title -->
    <header class="group-title"></header>

    <!-- Content -->
    <nav class="list">
        <ul>

            <!-- Items -->

        </ul>
    </nav>

</article>
