
<!-- Sharing -->
<ul class="share">
    <li class="share-button share-twitter">
        <span class="icon icon-twitter"></span>
    </li>
    <li class="share-button share-facebook">
        <span class="icon icon-facebook"></span>
    </li>
</ul>