

// Colors
// ------

@color: #F68F2D;
@color-bright: #F26A21;

@color-panel: #272C2F;
@color-panel-bright: #33383C;
@color-panel-light: rgba( 255, 255, 255, .1 );

@color-text: #FFFFFF;
@color-text-black: #231F20;

@color-icon: #FFFFFF;
@color-icon-black: #231F20;

@color-page: #F5F5F5;

@shadow-alpha: .5;


// Layers
// ------

@panel-z-index: 100;


// Icons
// -----

@import "icons";


// Fonts
// -----

@font: 'FiraSans', Helvetica, Arial, sans-serif;

@font-face {
  font-family: 'FiraSans';
  src: url('font/FiraSans-Light.eot');
  src: url('font/FiraSans-Light.eot?#iefix') format( 'embedded-opentype' ),
       url('font/FiraSans-Light.woff') format( 'woff' );
  font-weight: normal;
  font-style: normal;
}


// Layout
// ------

html {
  // to use with `rem`
  font-size: 3.75px;
}

@media( max-device-width: 640px ) and ( max-device-height: 640px ) {
  html {
    // font-size: 3.25px;
    font-size: 3.15px;  // ???
  }
}

@media (min-device-width: 1281px ) {
  html {
    font-size: 4px;
  }
}


// Events
// ------

.avoid-clicks * {
  pointer-events: none !important;
}




