/*
 Sharing
 */

@import "../theme/theme";

.share {
  // hack weird space
  font-size: 0;
  .flex-display();
  .noneselect();
}

.share-button {
  //  display: inline-block;
  width: 18rem;
  min-width: 18rem;
  border-left: 2px solid #272C2F;
  text-align: center;
  color: #FFF;
  // force inactive background color
  // background-color: @color-panel-bright;
  .flex();

  //&:hover,
  &:active, &.active {
    background-color: @color-bright;
    color: @color-icon-black;
  }
}
