/*
 5 Stars
 */

@import "../theme/theme";

.stars {
  display: block;
  width: 100%;
  .flex-display();
}

.stars-item {
  display: inline-block;
  text-align: center;
  color: @color-icon;
  .flex( 1 );

  &.active {
    background-color: @color-bright;
    color: @color-icon-black;
  }
}



// old

.sg-stars {

}

.sg-stars-item {

}

.sg-stars-active {
  background-color: crimson;
}
